{% extends "base.html" %}
{% block title %}Add Service{% endblock title %}

{% block main-content %}


<section class="center-container">
    <div class="glass-panel" style="max-width: 500px; width: 100%;">
        <h3 class='text-center mb-4'>Add Service Record</h3>

        <form class='form1 d-grid gap-3' method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class='btn btn-primary' type="submit" value="Save Service">
            <a href="{% url 'operations_menu' %}" class="btn btn-outline-dark">Cancel</a>
        </form>
    </div>
</section>
{% endblock main-content %}